* {
	font-family: "Roboto", "Helvetica", sans-serif;
}
p {
	max-width: 60rem;
	margin-left: 5rem;
	margin-right: 5rem;
}
ol {
	max-width: 50 rem;
	margin-left: 5rem;
	margin-right: 5rem;
}
h4 {
	align: left;
}
img {
	max-width: min(80%, 40rem);
	max-height: 50rem;
}
