.header {
	height: 4rem;
	vertical-align: middle;
	background: linear-gradient(
		180deg,
		#cccccc   0%,
		#c0c0c0 100%
	);
}
.inner-header {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	display: inline-block;
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 2rem;
	color: white;
}

.line {
	display: block;
	font-size: 0px;
	white-space: nowrap;
}

.item {
	background-color: #eeeeee;
	margin: 0px;
	display: inline-block;
	color: #666666;
}
.inner-item {
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 1.5rem;
	height: 2.25rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: inline-block;
	vertical-align: middle;
}

.link {
	color: black;
}
.link:hover {
	background-color: #dddddd;
}

.wide {
	width: 100%;
	text-align: left;
}
.medium {
	width: 75%;
	text-align: left;
}
.narrow {
	width: 25%;
	text-align: center;
}

.spacing {
	width: 0px;
	height: 5vh;
}

div {
	margin: 0px;
	padding: 0px;
}

#right {
	object-fit: cover;
}
@media screen and (orientation:portrait) { #right {
	width: 95vw;
}}
@media screen and (orientation:landscape) { #right {
	max-height: 80vh;
}}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
}

.parent {
	margin-top: 8vh;
}
@media screen and (orientation:portrait) { .parent {
	width: 95vw;
}}
@media screen and (orientation:landscape) { .parent {
	display: flex;
	width: 60vw;
	height: 80vh;
}}

@media screen and (orientation:portrait) { .child {
	max-width: 95vw;
}}

@media screen and (orientation:landscape) { .child {
	flex-grow: 1;
	max-width: 29vw;
	margin-left: 0.5vw;
	margin-right: 0.5vw;
}}

a {
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}
