.header {
	height: 4rem;
	vertical-align: middle;
	background: linear-gradient(180deg, #cccccc 0%, #c0c0c0 100%);
}

.inner-header {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	display: inline-block;
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 2rem;
	color: white;
}

.line {
	display: block;
	font-size: 0;
	white-space: nowrap;
}

.item {
	background-color: #eeeeee;
	margin: 0;
	display: inline-block;
	color: #666666;
}

.inner-item {
	font-family: "Roboto", "Helvetica", sans-serif;
	font-size: 1.5rem;
	height: 2.25rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: inline-block;
	vertical-align: middle;
}

.link {
	color: black;
}
.link:hover {
	background-color: #dddddd;
}

.wide {
	width: 100%;
	text-align: left;
}
.medium {
	width: 75%;
	text-align: left;
}
.narrow {
	width: 25%;
	text-align: center;
}

.spacing {
	width: 0;
	height: 5vh;
}

div {
	margin: 0;
	padding: 0;
}

#right {
	object-fit: cover;
}

.parent,
.child,
#right {
	transition: margin 0.5s ease, order 0.5s ease, transform 0.5s ease;
}

a {
	width: 100%;
	height: 100%;
	color: black;
	text-decoration: none;
}

.ai {
	font-size: 0;
	display: block;
	color: white;
}

@media (max-aspect-ratio: 3/4) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-x: hidden;
	}

	.parent {
		display: block;
		margin-top: 8vh;
		width: 95vw;
	}

	.child {
		max-width: 95vw;
		margin-bottom: 1rem;
		order: 1;
	}

	#right {
		width: 95vw;
		max-height: none;
		order: 2;
		margin-top: 1rem;
	}
}

@media (min-aspect-ratio: 3/4) {
	body {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow-x: hidden;
	}

	/* Side-by-side layout */
	.parent {
		display: flex;
		margin-top: 8vh;
		width: 60vw;
		height: 80vh;
	}

	.child {
		flex-grow: 1;
		max-width: 29vw;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		order: 1;
	}

	#right {
		max-height: 80vh;
		width: auto;
		order: 2;
		margin-top: 0;
	}
}
